<div>
  <div class="container">
    <h1 class="title">HOBBIES</h1>
    <p class="sub">Things that I do to relieve stress</p>
    <div class="entries">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <div class="piece1">
              <ul class="list-group list-group-flush">
                <li class="list-group-item subtitle">Volleyball</li>
                <li class="list-group-item">
                  <img class="hobbies" src="../../assets/images/volleyball.jpg" alt="playing volleyball">
                </li>
              </ul>
            </div>
            <div class="des1">
              Description here :)
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <div class="piece2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item subtitle">Reading Books</li>
                <li class="list-group-item">
                  <img class="hobbies" src="../../assets/images/book.jpg" alt="readingbooks">
                </li>
              </ul>
            </div>
            <div class="des2">
                Description here :)
              </div>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <div class="piece3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item subtitle">Listening Music</li>
                <li class="list-group-item">
                  <img class="hobbies" src="../../assets/images/music.jpg" alt="Listening Music">
                </li>
              </ul>
            </div>
            <div class="des3">
                Description here :)
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>