
<div class="wrapper">
    <h1>Timeline Created With CSS Grid</h1>
    <div class="timeline">
      <dl class="timeline--entry">
        <dt class="timeline--entry__title">Education</dt>
        <dd class=" titol"><b>UNIVERSITY OF SAN CARLOS</b></dd>
        <dd class="timeline--entry__detail">Certificate in Computer Technology Major in <b>Software Development</b></dd>
      </dl>
      <dl class="timeline--entry">
        <dt class="timeline--entry__title">Experience</dt>
        <dd class="titol">Full Stack Developer Intern </dd>
        <dd class="timeline--entry__detail">Lear Automotive Services(Netherlands)B.V. Philippines Branch</dd>
        
      </dl>
      <dl class="timeline--entry">
        <dt class="timeline--entry__title">Skills</dt>
        <dd class="titol">Technical Skills</dd>
        <ul>
            <li>Java</li>
            <li>C#</li>
            <li>Python</li>
            <li>JavaScript & Jquery</li>
            <li>AngularJs, NodeJs & ExpressJs</li>
            <li>MongoDB & MySQL</li>
            <li>HTML, CSS</li>
        </ul>
        <dd class="titol">Soft Skill</dd>
        <ul>
            <li>Good Communication Skill</li>
        </ul>
      </dl>
      <dl class="timeline--entry">
        <dt class="timeline--entry__title">Achievements</dt>
        <dd class="titol">OSEC Pitchfest Winner</dd>
        <dd class="timeline--entry__detail">The Company Cebu IT Park| July 2019</dd>
        <dd class="titol">Champion of OSEC Hackathon</dd>
        <dd class="timeline--entry__detail">Dohera Hotel Mandaue City Cebu| July 2019</dd>
      </dl>
    </div>
  </div>
  <a href="https://drive.google.com/uc?export=view&id=1sbRKHyFy3WdTGMDJbrsjOz2Q--pAOHq4" target="_blank" type="button" class="btn btn-secondary pdf" >View PDF</a>