<div class="image1">
    <div class="card">
        <div class="name">
            <img src="../../assets/images/lisa.jpg" alt="profile pic" class="dp">
            <div class="captiona">
                <h1 class="fullName">Devilleres, Ivy Joy S.</h1>
                <h2 class="position">Web Developer</h2>
            </div>
        </div>
    </div>
</div>

<div class="social-box">
    <div class="row">
        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
                <div class="box-title">
                    <h3><3</h3>
                </div>
                <div class="box-text">
                    <span class="text1">"Love what you do and you'll eventually find yourself being the best of it."</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12  text-center">
            <div class="box">
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                <div class="box-title">
                    <h3>Passerelles Numeriques</h3>
                </div>
                <div class="box-text">
                    <span>Throughout my college journey, I am proud to share that I am a scholar of a French Non Government Organization called Passerelles Numeriques.</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xs-12 text-center">
            <div class="box">
                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                <div class="box-title">
                    <h3>Specialization</h3>
                </div>
                <div class="box-text">
                    <span>I took up Front End Development during my specialization focusing on Angular.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image2">
    <div class="caption">
        <div class="">Devilleres, Ivy Joy S.</div>
    </div>
</div>